In [1]:
# FEATURE SELECTION(Techniques) :

In [2]:
# FORAWRD SELECTION :

In [3]:
# BACKWARD SELECTION : Highest accuracy select

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("diabetes.csv")

In [6]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0
...,...,...,...,...,...,...,...,...,...
1995,2,75,64,24,55,29.7,0.370,33,0
1996,8,179,72,42,130,32.7,0.719,36,1
1997,6,85,78,0,0,31.2,0.382,42,0
1998,0,129,110,46,130,67.1,0.319,26,1
1999,2,81,72,15,76,30.1,0.547,25,0

In [7]:
df.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1

In [8]:
x = df.iloc[:,:-1]
y = df["Outcome"]

In [9]:
x.shape

(2000, 8)

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
lr = LogisticRegression()

In [12]:
from mlxtend.feature_selection import SequentialFeatureSelector as SFS

In [13]:
# fs= SFS(lr,k_features=5,forward=True)
# fs.fit(x,y)

In [14]:
fs = SFS(lr,k_features = 4,forward=True)
fs.fit(x,y)

SequentialFeatureSelector(estimator=LogisticRegression(), k_features=(4, 4),
                          scoring='accuracy')

In [15]:
fs.feature_names

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age']

In [16]:
fs.k_feature_names_

('Pregnancies', 'Glucose', 'BloodPressure', 'BMI')

In [17]:
fs.k_score_

0.7685

In [18]:
5 - 0.7685

4.2315000000000005

In [19]:
# TRAIN TEST SPLIT (in data set) : 

# Data set -----> Train Data Set
#          -----> Test Data Set

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
df = pd.read_csv("BostonHousing.csv")

In [22]:
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [23]:
df.head(3)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [24]:
input_data = df.iloc[:,:-1]
input_data

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [25]:
input_data = df.iloc[:,:-1]
output_data =df ["ptratio"]

In [26]:
input_data
output_data

0      15.3
1      17.8
2      17.8
3      18.7
4      18.7
       ...
501    21.0
502    21.0
503    21.0
504    21.0
505    21.0
Name: ptratio, Length: 506, dtype: float64

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data,test_size=0.25)

In [29]:
x_test

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
500,0.22438,0.0,9.69,0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33
22,1.23247,0.0,8.14,0,0.538,6.142,91.7,3.9769,4,307,21.0,396.90,18.72
172,0.13914,0.0,4.05,0,0.510,5.572,88.5,2.5961,5,296,16.6,396.90,14.69
210,0.17446,0.0,10.59,1,0.489,5.960,92.1,3.8771,4,277,18.6,393.25,17.27
414,45.74610,0.0,18.10,0,0.693,4.519,100.0,1.6582,24,666,20.2,88.27,36.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,3.69695,0.0,18.10,0,0.718,4.963,91.4,1.7523,24,666,20.2,316.03,14.00
396,5.87205,0.0,18.10,0,0.693,6.405,96.0,1.6768,24,666,20.2,396.90,19.37
195,0.01381,80.0,0.46,0,0.422,7.875,32.0,5.6484,4,255,14.4,394.23,2.97
424,8.79212,0.0,18.10,0,0.584,5.565,70.6,2.0635,24,666,20.2,3.65,17.16
244,0.20608,22.0,5.86,0,0.431,5.593,76.5,7.9549,7,330,19.1,372.49,12.50

In [30]:
y_test

500    19.2
22     21.0
172    16.6
210    18.6
414    20.2
       ...
366    20.2
396    20.2
195    14.4
424    20.2
244    19.1
Name: ptratio, Length: 127, dtype: float64

In [31]:
x_train.shape , y_train.shape

((379, 13), (379,))

In [32]:
x_test

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
500,0.22438,0.0,9.69,0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33
22,1.23247,0.0,8.14,0,0.538,6.142,91.7,3.9769,4,307,21.0,396.90,18.72
172,0.13914,0.0,4.05,0,0.510,5.572,88.5,2.5961,5,296,16.6,396.90,14.69
210,0.17446,0.0,10.59,1,0.489,5.960,92.1,3.8771,4,277,18.6,393.25,17.27
414,45.74610,0.0,18.10,0,0.693,4.519,100.0,1.6582,24,666,20.2,88.27,36.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,3.69695,0.0,18.10,0,0.718,4.963,91.4,1.7523,24,666,20.2,316.03,14.00
396,5.87205,0.0,18.10,0,0.693,6.405,96.0,1.6768,24,666,20.2,396.90,19.37
195,0.01381,80.0,0.46,0,0.422,7.875,32.0,5.6484,4,255,14.4,394.23,2.97
424,8.79212,0.0,18.10,0,0.584,5.565,70.6,2.0635,24,666,20.2,3.65,17.16
244,0.20608,22.0,5.86,0,0.431,5.593,76.5,7.9549,7,330,19.1,372.49,12.50

In [33]:
x_test.shape , y_test.shape

((127, 13), (127,))

In [34]:
# REGRESSION ANALYSIS :
# REAL WORLD APPLICATION
# SOME EXAMPLES OF REGRESSION CAN BE AS :
# prediction of rain using temperature & factors.
# determining market trends
# prediction of road accidents due to rash driving.

In [35]:
# TYPES OF REGRESSION ANALYSIS :
# 1) linear regression
# 2) multi-linear regression
# 3) lasso regression
# 4) Ridge regression
# 5) polynomial regression
# 6) decision tree regression
# 7) random forest regression
# 8) support vector regression
# 9) k-Nearest Neighobours regression

In [36]:
# Linear Regression Algorithm(simple linear) :
# SIMPLE LINEAR REGRESSION : is a type of regression algorithms that models the relationship between a dependent
#                            variable and a single independent variable.

# FORMULA EQUATION : y=mx+c
# y = dependent variable
# x = independent variable
# m = slope/gradient/coefficient
# c = intercept

In [57]:
df = pd.read_csv("Placement.csv")

In [58]:
df

    cgpa  package
0   6.89      3.26
1   5.12      1.98
2   7.82      3.25
3   7.42      3.67
4   6.94      3.57
5   7.89      2.99
6   6.73      2.60
7   6.75      2.48
8   6.09      2.31
9   8.31      3.51
10  5.32      1.86
11  6.61      2.60
12  8.94      3.65
13  6.93      2.89
14  7.73      3.42
15  7.25      3.23
16  6.84      2.35
17  5.38      2.09
18  6.94      2.98

In [59]:
df.head(3)

   cgpa  package
0  6.89      3.26
1  5.12      1.98
2  7.82      3.25

In [54]:
df.isnull().sum()

cgpa        0
package     0
dtype: int64

In [55]:
x = df["cgpa"]
x.ndim

1